// noinspection CssInvalidAtRule
@use '../../style/style' as styles;

.welcomeComp {
  background-color: styles.$secondary;
  border: 2px solid styles.$third;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;

  & .inputWrapper {
    & input {
      width: 100%;
      padding: 10px;
    }
    & div {
      width: 100%;
      text-align: left;
      padding: 10px;
    }
  }

}