@use '../../style/style' as styles;

.errorPage {
  padding: 50px;
  @include styles.forRootElements;

  & .message {
    padding: 20px;
    background-color: styles.$secondary;
    border: 2px solid styles.$third;
  }

  & .code {
    @include styles.importantText;
  }
}