@use '../../style/style' as styles;

.errorPage {
  padding: 50px;
  //@include styles.forRootElements;

  & .message {
    padding: 20px;
    background-color: styles.$red;
    border: 2px solid styles.$black;
  }

  & .code {
    @include styles.importantText;
  }
}