@use '../../style/style' as styles;

.loadingButtonComp {
  padding: 30px;

  & .button {
    width: 50%;
    padding: 5px 20px;
    background-color: styles.$danger;
    @include styles.shadow;

    &:hover {
      background-color: styles.$dangerHover;
      cursor: pointer;
    }
  }
}