@use 'variables' as vars;

@mixin square($val) {
  height: $val;
  width: $val;
}

@mixin stretch {
  height: 100%;
  width: 100%;
}

@mixin importantText {
  font-size: 2rem;
  font-weight: bold;
}

@mixin shadow {
  box-shadow: 5px 6px 13px -3px rgba(0,0,0,0.67);
}

@mixin forRootElements {
  @include stretch;
  background-color: vars.$primary;
  text-align: center;
}
