//Global
$fontNoirPro: 'NoirPro';
$fontRoboto: 'roboto';
//$transition: 300ms;
$intend: 10vh;
$borderBottomRadius: 12px;

// Colors
$grey: #F0F0F0;
$darkGrey: #8a8a8a;
$greySelect: #D7D7D7;
$red: #EE4036;
$darkRed: #b9302e;
$black: #323232;
$white: #FFFFFF;
$textColor: #000000;
$blue: #5E87D6;
$darkBlue: #475891;


