//Global
$fontNoirPro: 'NoirPro';
$fontRoboto: 'Roboto';
$transition: 300ms;

// Colors
//$grey: #03899C;
//$red: #FF7A00;
//$black: #FFD900;
//$danger: #D0006E;
//$dangerHover: #9C2765;
$grey: #C4C4C4;
$greySelect: #D7D7D7;
$red: #EE4036;
$black: #323232;
$white: #FFFFFF;
$textColor: #000000;
