@use 'variables' as vars;

//------------------------------------------------------------------------------

@font-face {
  font-family: vars.$fontNoirPro;
  src: url('../assets/font/#{vars.$fontNoirPro}-Regular.eot');
  src: url('../assets/font/#{vars.$fontNoirPro}-Regular.woff');
  src: url('../assets/font/#{vars.$fontNoirPro}-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

//------------------------------------------------------------------------------

@font-face {
  font-family: vars.$fontNoirPro;
  src: url('../assets/font/#{vars.$fontNoirPro}-Medium.eot');
  src: url('../assets/font/#{vars.$fontNoirPro}-Medium.woff');
  src: url('../assets/font/#{vars.$fontNoirPro}-Medium.woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: vars.$fontRoboto;
  src: url('../assets/font/#{vars.$fontRoboto}-v29-latin_cyrillic-regular.eot');
  src: url('../assets/font/#{vars.$fontRoboto}-v29-latin_cyrillic-regular.woff');
  src: url('../assets/font/#{vars.$fontRoboto}-v29-latin_cyrillic-regular.woff2');
  font-weight: normal;
  font-style: normal;
}

