@use '../../style/style' as styles;

.mainComponent {
  padding: 20px;
  background-color: styles.$secondary;
  border: 2px solid styles.$third;
  & .desc {
    padding: 10px;
    @include styles.importantText;
  }
}